
<header th:fragment="header" class="header">
		<div class="header__left">
			<h1>Restaurante Baratie</h1>
		</div>
		<div class="header__right" sec:authentiction="isAuthenticated()">
			<nav class="header__nav">
				<ul class="header__list">
					<!--<li class="header__item"><i class="fas fa-bell fa-2x"></i></li>-->
					<li class="header__item dropdown">
						<span sec:authentication="name"></span>
						<i class="fas fa-user-circle fa-2x"></i>
						<div class="dropdown__menu" id="dropdown-header">
							<form
								th:action="@{/logout}"
								method="post">
								<button type="submit">Cerrar sesión</button>
							</form>
						</div>
					</li>
				</ul>
			</nav>
		</div>
</header>