<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head">
</head>
<body>

	<div class="container">
	
		<header th:replace="layout/header :: header"></header>
	
		<nav th:replace="layout/navbar :: nav"></nav>
		
		<main class="main">
			<div
				class="msg"
				th:classappend="'msg--' + ${message.type.name}"
				th:if="${message != null}">
				<span th:text="${message.value}"></span>
				<div class="msg__close"><i class="fas fa-2x fa-times-circle"></i></div>
			</div>
			<div class="card">
				<h3 class="section-title">Lista de usuarios</h3>
				<div class="flex">
					<a th:href="@{/user/form}" class="btn btn--add">
						<i class="fas fa-plus"></i>Registrar usuario
					</a>
					<form th:action="@{/user/buscar}" class="flex">
						<input
								type="text"
								name="lastName"
								placeholder="Ingrese el apellido"
								class="form__input md"/>
						<button type="submit" class="btn btn--cancel">Buscar</button>
					</form>
				</div>
				<table class="table">
					<thead class="table__head">
					<tr>
						<th>Foto</th>
						<th>Nombre Completo</th>
						<th>Email</th>
						<th>Rol</th>
						<th>Acciones</th>
					</tr>
					</thead>
					<tbody class="table__body">
					<tr th:each="user: ${users}">
						<td data-label="Foto">Foto</td>
						<td data-label="Nombre completo" th:text="${user.name +' ' + user.lastName}"></td>
						<td data-label="Email" th:text="${user.email}"></td>
						<td data-label="Rol" th:text="${user.role.name}"></td>
						<td data-label="Acciones">
							<a th:href="@{/user/form/} + ${user.id}" class="btn btn--update">
								Editar
							</a>
							<a th:href="@{/user/eliminar/} + ${user.id}" class="btn btn--delete">
								Eliminar
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</main>
				
		<footer th:replace="layout/footer :: footer"></footer>
	</div>
	
	
	<th:block th:replace="layout/scripts :: scripts"></th:block>
</body>
</html>