/*
:root {
	--colorVerde: #00a160;
	--colorRojo: #ee3124;
	--colorAmarillo: #ffc425;
	--colorOscuro: #383838;
}*/


.nav {
	position: fixed;
	width: 20%;
	height: 100vh;
	grid-column: 1/2;
	grid-row: 1/4;
	color: white;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav__title {
	
	text-align: center;
	font-size: 22px;
}

.nav__list {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 80%;
	display: flex;
	flex-direction: column;
}

.nav__item {
	width: 100%;
}

.nav__link {
	display: block;
	width: 100%;
	height: 75px;
	line-height: 75px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	color: white;
	transition: all 0.5s;
}

.nav__link i {
	margin-right: 20px;
	vertical-align: middle;
}

.nav__link:hover {
	color: var(--colorAmarillo);
	border-left: 7px solid var(--colorAmarillo);
}

















