/*:root {
	--colorVerde: #00a160;
	--colorRojo: #ee3124;
	--colorAmarillo: #ffc425;
	--colorOscuro: #383838;
}*/

.table {
	border-collapse: collapse;
	margin: 20px auto;
}

.table__head {
	font-size: 20px;
	padding: 5px;
	color: white;
	background-color: #383838;
}

.table tr {
	transition: all 0.3s;
}

.table__body tr:hover {
	background-color: #bbdcbe;
}

.table__body td, .table__body th {
	border: 1px darkgray solid;
	padding: 8px;
	min-height: 40px;
}

.table th {
	min-width: 60px;
	padding: 15px;
}